@page "/shoppinglist"
@inject NavigationManager Navigation 
@using Frontend.Components; 
@using Frontend.Service


<Navbar />
<h3>Shopping List</h3>
<div class="btn-group"> 
<button class="btn" @onclick="@(() => OnButtonClicked("View my list"))">View my list</button>
<button class="btn" @onclick="@(() => OnButtonClicked("Make a list"))">Make a list</button>
</div>


@code {
    private void OnButtonClicked(string btn)
    {
        switch (btn)
        {
            case "View my list":
                Navigation.NavigateTo("/shoppinglist/view");
                break;
            case "Make a list":
                Navigation.NavigateTo("/shoppinglist/add");
                break;
        }

    }


}