@using Frontend.Service;
@page "/shoppinglist/add"
@inject ShoppingListService ListService
@inject NavigationManager Navigation
@using Frontend.Components.Shared


<Navbar />

<h3>Make a list</h3>

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="mb-3">
        <label class="form-label">
            Title:
            <InputText @bind-Value="model.Title" />
        </label>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Title:
            <InputTextArea @bind-Value="items" placeholder="e.g. Egg, Tomato, Onion" />
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <button type="button" class="btn btn-primary" @onclick="ClearForm">Clear</button>

</EditForm>

@code {
    private ShoppingList model = new();
    private string items = "";

    private void HandleValidSubmit()
    {
        model.Items = items.ToList();
        ListService.Add(model);
        Navigation.NavigateTo("shoppinglist/view");
    }

    private void ClearForm()
    {
        model = new();
        items = "";
    }
}