@page "/shoppinglist"
@inject NavigationManager Navigation 
@using Frontend.Components; 
@using Frontend.Service
@using Frontend.Components.Shared;
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using Frontend.Models
@inject LoginService LoginService
@inject ItemService ItemService
@* <Navbar /> *@

<h3>Shopping List</h3>
<div class="btn-group"> 
<button class="btn" @onclick="@(() => Navigation.NavigateTo("/shoppinglist/view"))">View my list</button>
<button class="btn" @onclick="@(() => Navigation.NavigateTo("/shoppinglist/add"))">Make a list</button>
</div>


@code {
 private List<Item> items = new List<Item>();
    private bool isLoading = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoginService.InitializeAsync();
            
            if (LoginService.IsAuthenticated)
            {
                await LoadItems();
            }
            
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task LoadItems(){

    int userId = LoginService.GetUserId();
    items = await ItemService.GetAllItems(userId);

    }
}