@inherits LayoutComponentBase

@* External UI library- Google Library *@
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />



<div class="page">
    <header class="header">
        <h1>@Title</h1>
        <span class="material-symbols-outlined"> account_circle</span>
    </header>

    <div class="container">
        <nav class="vertical-menu">
            <button class="btn btn-primary mb-2">My ingredients</button>
            <button class="btn btn-primary mb-2">Recipes</button>
            <button class="btn btn-primary mb-2">Shopping List</button>

            @foreach (var button in Buttons)
            {
                <button class="btn btn-primary" @onclick="() => OnButtonClick.InvokeAsync(btn)">
                    @button</button>
            }
        </nav>

        @* Main page content *@
        <main class="cotent">
            @Body
        </main>
    </div>
</div>



@* Layout component defines a shared UI structure- headers, menu *@

@* Overriding the title for button *@
@code {
    public string Title { get; set; } = "IFridge";
    public List<string> Buttons { get; set; } = new();


}

@* <button class="btn btn-primary mb-2" @onclick="() => OnButtonClick,InvokeAsync(button)">@button</button> *@
