@* Using Google MUI *@
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />


<div class="menu-head">
    <header class="header">
        <button class="btn btn-primary mb-2">Back</button>
        <span class="material-symbols-outlined"> account_circle</span>
    </header>

    @* Main page content *@
    <main class="content">
        @Body
    </main>

</div>

@* C# code for rolling back to previous page *@
@code {
    private void GoBack(){
        //
    }
}