@page "/ingredients"
@inject NavigationManager Navigation
@using Frontend.Service
@using Frontend.Components.Pages
@using Frontend.Components.Shared


<Navbar />
<h3>Ingredients</h3>
<div class="btn-group"> 
<button class="btn" @onclick="@(() => OnButtonClicked("View available ingredients"))">View available ingredients</button>
<button class="btn" @onclick="@(() => OnButtonClicked("Add new ingredient"))">Add new ingredient</button>
</div>

@code {

    private void OnButtonClicked(string btn)
    {
        switch (btn)
        {
            case "View available ingredients":
                Navigation.NavigateTo("/ingredients/view");
                break;
            case "Add new ingredient":
                Navigation.NavigateTo("/ingredients/add");
                break;
        }
    }
}