@page "/ingredients"
@inject NavigationManager Navigation
@using Frontend.Service
@using Frontend.Components.Pages
@using Frontend.Components.Shared
@inject LoginService LoginService
@inject IngredientService IngredientService
@rendermode @(new InteractiveServerRenderMode(prerender: false))


@* <Navbar /> *@
<h3>Welcome to IFridge</h3>
<div class="btn-group"> 
<button class="btn" @onclick="@(() => Navigation.NavigateTo("/"))">View available ingredients</button>
<button class="btn" @onclick="@(() => Navigation.NavigateTo("/ingredients/add"))">Add new ingredient</button>
</div>

@code {
    private List<Ingredient> ingredients = new List<Ingredient>();
    private async Task LoadIngredients(){

    int userId = LoginService.GetUserId();
    ingredients = await IngredientService.GetAllIngredients(userId);

    }
    private List<Ingredient> Expired => ingredients.Where(i => i.ExpiredDate < DateTime.Now).ToList();


}