@page "/"
@inject NavigationManager Navigation

<MenuHeader Title="Home" Button="@buttons" OnButtonClick="OnButtonClicked"> </MenuHeader>

<main>
    @BodyContent
</main>

@code {
    private List<string> Buttons = new() { "My Ingredients", "Recipes", "Shopping List" };
    private RenderFragment BodyContent;

    private void OnButtonClicked(string btn)
    {
        switch (btn)
        {
            case "My Ingredients":
                Navigation.NavigateTo("/ingredients");
                break;
            case "Recipes":
                Navigation.NavigateTo("/recipes");
                break;
             case "Shopping List":
                Navigation.NavigateTo("/shoppinglist/add");
                break;
        }
    }
}