@page "/login"
@inject LoginService loginService
@inject NavigationManager Navigation
@using Frontend.Models
@using Frontend.Service
@rendermode InteractiveServer

<h3>Welcome to IFridge</h3>

<EditForm FormName="loginForm" Model="@model" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <div>
    <label class="form-label">ID</label>
    <InputText @bind-Value="model.loginId" class="form-control"/>
    </div>
    <div>
    <label class="form-label">PW</label>
    <InputText type="password" @bind-Value="model.pw" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">log in</button>
</EditForm>
    <div>
    <h4>New Here?</h4>
    <a href="/register">Sign-Up</a>
    </div>
@code {
    [SupplyParameterFromForm]
    private LoginModel model{get;set;} = new();
    private string err = string.Empty;
    private async Task HandleLogin()
    {
        var success = await loginService.LoginAsync(model);
        if(success){
            Navigation.NavigateTo("/");
        }else{
            err = "Invalid Id/pw";
        }
    }

    private void ClearForm() => model = new();
}
